# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
api/fabcar/javascript/wallet
test-network/channel-artifacts/
test-network/organizations/ordererOrganizations/
test-network/organizations/peerOrganizations/
test-network/log.txt

# Ignore Gradle build output directory
build
package-lock.json
caliper.log